@import "utils/fonts";
@import "utils/variables";
@import "base";
@import "utils/texts";
@import "utils/utils";

@import "components/links";
@import "components/buttons";
@import "components/carousel-button";
@import "components/input";
@import "components/procedure-card";
@import "components/pagination";

@import "layouts/section";
@import "layouts/container";
@import "layouts/header";
@import "layouts/mobile-menu";
@import "layouts/banner-section";
@import "layouts/service-section";
@import "layouts/why-choose-us-section";
@import "layouts/procedure-section";
@import "layouts/find-us-section";
@import "layouts/footer";
@import "layouts/modal";