:root {
    --color-primary-light: #FFFFFF;
    --color-primary-dark: #011C44;
    --color-primary-brands: #2B7FFF;
    --color-secondary-text: #4A4A4A;
    --color-secondary-subtext: #747272;
    --color-secondary-btns: #011C44;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;