.banner {
    height: 350px;
    margin: 0 auto;
    background-image: linear-gradient(90deg,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.78),
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0)), url("../images/bgc-mobile-banner.png");
    background-position: 60% top;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(90deg,
                rgb(255, 255, 255),
                rgba(255, 255, 255, 0.78),
                rgba(255, 255, 255, 0.2),
                rgba(255, 255, 255, 0)), url("../images/bgc-mobile-banner@2x.jpg");
    }

    @media screen and (min-width: $bp-tablet) {
        height: 650px;
        background-image: linear-gradient(89deg,
                #FFF 30.62%,
                rgba(255, 255, 255, 0.85) 41.31%,
                rgba(255, 255, 255, 0.19) 58.65%,
                rgba(255, 255, 255, 0.00) 72.78%),
        url("../images/main-bgc.png");

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(89deg,
                    #FFF 30.62%,
                    rgba(255, 255, 255, 0.85) 41.31%,
                    rgba(255, 255, 255, 0.19) 58.65%,
                    rgba(255, 255, 255, 0.00) 72.78%),
            url("../images/main-bgc@2x.png");
        }
    }

    @media screen and (min-width: $bp-desktop) {
        max-width: 1440px;
        min-height: 650px;
        background-position: right top;
    }

    &__section {
        padding-top: 70px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            padding-top: 16px;
            position: relative;
            top: 20px;
            left: 0;
            text-align: left;
        }

        @media screen and (min-width: $bp-desktop) {
            left: 106px;
        }
    }

    &__subtitle {
        font-size: 12px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            padding-bottom: 16px;
            text-align: left;
        }
    }

    &__title {
        width: 100%;
        margin: 0 auto 32px;
        font-size: 54px;
        font-weight: 700;
        line-height: .9;
        text-transform: capitalize;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            text-align: left;
            margin: 0 0 40px 0;
            font-size: 140px;
        }
    }

    &__call-description {
        max-width: 238px;
        flex-basis: 238px;
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        color: var(--color-secondary-text);
        margin: 0 auto;

        @media screen and (min-width: $bp-tablet) {
            margin: 0;
        }
    }
}

