.find-us {
  padding-bottom: 96px;

  &__title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    gap: 32px;
  }

  &__map {
    flex-basis: 60%;
  }

  &__map iframe {
    height: 100%;
  }

  &__forms {
    max-width: 423px;
    max-height: 500px;
    flex-basis: 40%;
    border: none;
    border-radius: 32px;
    padding: 48px 56px;
    background-color: var(--color-primary-dark);
  }

  &__form-fields {
    padding-bottom: 16px;
  }

  &__forms-title {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary-light);
    text-align: center;
  }

  &__form {
    padding: 32px 0;
  }

  &__form-btn {
    margin-bottom: 8px;
  }

  &__form-privacy {
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-secondary-subtext);
    text-align: center;
  }

  &__form-privacy-link {
    color: var(--color-secondary-subtext);
    font-weight: 400;
    text-decoration-line: underline;
  }
}


