.find-us {
    padding-bottom: 96px;
}

.find-us-title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px;
}

.find-us-container {
    display: flex;
    gap: 32px;
}

.find-us-map {
    flex-basis: 60%;
}

.find-us-map iframe {
    height: 100%;
}

.find-us-forms {
    max-width: 423px;
    max-height: 500px;
    flex-basis: 40%;
    border: none;
    border-radius: 32px;
    padding: 48px 56px;
    background-color: var(--color-primary-dark);
}

.find-us-forms-title {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary-light);
    text-align: center;
}

.appointment-form {
    padding: 32px 0;
}

.appointment-input {
    width: 100%;
    padding: 18px 32px;
    margin-bottom: 16px;
    border: 2px solid var(--color-secondary-subtext);
    border-radius: 32px;
    background-color: transparent;
    transition: border-color .2s ease;
}

.appointment-input:focus {
    border-color: var(--color-primary-light);
    outline: none;
}

.appointment-input::placeholder {
    color: var(--color-primary-light);
}

.appointment-form-privacy {
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-secondary-subtext);
    text-align: center;
}

.appointment-form-privacy-link {
    color: var(--color-secondary-subtext);
    font-weight: 400;
    text-decoration-line: underline;
}