
.header {
    position: absolute;
    width: 100%;
    padding: 16px 0;
    top: 0;
    left: 0;
    z-index: 100;
    background: transparent;

    @media screen and (min-width: $bp-tablet) {
        padding: 32px 0;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(5px);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 40px;
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            gap: 26px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 56px;
        }
    }

    &__burger {
        border: none;
        background-color: transparent;
        fill: var(--color-primary-light);

        @media screen and (min-width: $bp-tablet) {
            display: none;
        }
    }
}



