.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 16px 20px;
    background-color: var(--color-primary-light);
    transform: translate(100%);
    transition: transform .3s;

    &.is-open {
        transform: translate(0);
    }

    &__btn-close {
        position: absolute;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        right: 16px;
        top: 16px;
    }
}