.why-choose-us {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -140px;
        width: 100%;
        height: 100vh;
        background-image: url('../images/background.svg');
        background-size: cover;
        z-index: -10;
    }

    &__title {
        max-width: 432px;
        margin: 0 auto 48px;
        font-size: 64px;
        font-weight: 700;
        text-align: center;
    }

    &__lists {
        display: flex;
        gap: 56px;
        align-items: center;
    }

    &__cards {
        border-radius: 32px;
        padding: 24px 32px;
        text-align: center;
        background-color: var(--color-primary-light);
        box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
        transition: transform .2s;

        &:hover {
            transform: scale(1.07);
        }
    }

    &__icon {
        fill: var(--color-primary-brands);
    }

    &__text {
        line-height: 1.3;
    }
}