/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Play-Regular.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Play-Bold.ttf") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

/* Variables */
:root {
  --color-primary-light: #FFFFFF;
  --color-primary-dark: #011C44;
  --color-primary-brands: #2B7FFF;
  --color-secondary-text: #4A4A4A;
  --color-secondary-subtext: #747272;
  --color-secondary-btns: #011C44;
}

/* General */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-style: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2 {
  font-family: "Play", sans-serif;
}

ul {
  list-style-type: none;
}

.decoration {
  max-width: 529px;
  color: var(--color-primary-brands);
}

.decoration-text {
  text-transform: capitalize;
}

.link-decorate {
  transition: color .2s ease;
}

.link-decorate:hover {
  color: var(--color-primary-brands);
}

article {
  position: relative;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 85px 0;
}

/* End general */

.container {
  max-width: 1287px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header section */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px 0;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 56px;
}

.social-links {
  display: flex;
  gap: 32px;
  align-items: center;
  transition: .2s ease;
}

.social-link-icon:hover {
  fill: var(--color-primary-brands);
}

.header-link {
  color: var(--color-primary-dark);
  transition: .2s ease;
}

.header-link:hover {
  color: var(--color-primary-brands);
}

/* Main banner section */
.main-banner {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(89deg, #FFF 30.62%, rgba(255, 255, 255, 0.85) 41.31%, rgba(255, 255, 255, 0.19) 58.65%, rgba(255, 255, 255, 0.00) 72.78%), url("../images/main-bgc.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 650px;
}

.banner-section {
  padding-top: 16px;
  position: relative;
  top: 20px;
  left: 106px;
}

.banner-subtitle {
  padding-bottom: 16px;
}


.banner-title {
  margin-top: 0;
  font-size: 140px;
  font-weight: 700;
  line-height: .9;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.main-btn-primary {
  color: var(--color-primary-light);
  font-weight: 600;
  margin-bottom: 14px;
  font-size: 18px;
  background-color: var(--color-primary-brands);
  border: 2px solid transparent;
  padding: 16px 32px;
  border-radius: 32px;
  transition: .2s ease;
}

.main-btn-primary:hover {
  color: var(--color-secondary-btns);
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-brands);
}

.banner-free-call-description {
  max-width: 238px;
  flex-basis: 238px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--color-secondary-text);
}

/* Service section */

.services-title {
  padding-top: 40px;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}

.service-container {
  display: flex;
  gap: 28px;
}

.service-images {
  position: relative;
}

.service-image-left {
  position: relative;
  top: 0;
  left: 0;
}

.service-image-right {
  position: relative;
  right: -45%;
  bottom: 0;
}

.services-description,
.service-images {
  flex-basis: 50%;
}

.service-description-text {
  font-size: 22px;
  line-height: 1.7;
}

.service-description-text:not(:last-child) {
  margin-bottom: 40px;
}

.service-text-bold {
  text-transform: capitalize;
  font-weight: 700;
}

.service-image-left,
.service-image-right {
  border-radius: 50%;
}

.service-large-star {
  position: absolute;
  top: 336px;
  left: 117px;
  fill: var(--color-primary-dark);
  z-index: 10;
  animation: rotate360 2s ease infinite;
}

.service-middle-star {
  position: absolute;
  fill: var(--color-primary-brands);
  top: 32px;
  right: -32px;
  z-index: 10;
  animation: bounce 4s ease infinite;
}

.service-small-star {
  position: absolute;
  fill: var(--color-secondary-subtext);
  top: 269px;
  right: 0;
  z-index: 10;
  animation: starAnimation 5s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes starAnimation {
  0% {
    fill: var(--color-primary-brands);
    transform: rotate(0);
  }
  50% {
    fill: var(--color-secondary-subtext);
    transform: scale(2);
  }
  100% {
    fill: var(--color-secondary-btns);
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

 /*Why Choose Us section*/
.why-choose-us {
  position: relative;
}

.why-choose-us::before {
  content: "";
  position: absolute;
  top: -140px;
  width: 100%;
  height: 100vh;
  background-image: url('../images/background.svg');
  background-size: cover;
  z-index: -10;
}

.why-choose-us-title {
  max-width: 432px;
  margin: 0 auto 48px;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.why-choose-us-lists {
  display: flex;
  gap: 56px;
  align-items: center;
}

.list-card {
  border-radius: 32px;
  padding: 24px 32px;
  text-align: center;
  background-color: var(--color-primary-light);
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  transition: transform .2s;
}

.list-card:hover {
  transform: scale(1.07);
}

.card-icon {
  fill: var(--color-primary-brands);
}

.why-choose-us-text {
  line-height: 1.3;
}

/* Our procedure section */
.our-procedure-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
  text-align: center;
}

.procedure-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

}

.procedure-lists {
  display: flex;
  gap: 16px;
  align-items: center;
}

.procedure-card {
  position: relative;
  width: 344px;
  min-height: 456px;
  border-radius: 0 120px 0 120px;
  transition: transform .2s ease;
  overflow: hidden;
}

.procedure-card-img {
  display: block;
  width: 100%;
  height: 100%;
}

.procedure-gradient-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(1, 28, 68, 0.00) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011C44 101.39%);
}

.procedure-card:hover {
  transform: scale(1.02);
}

.procedure-list-name {
  position: absolute;
  max-width: 152px;
  font-size: 22px;
  line-height: 1.1;
  text-align: center;
  bottom: 32px;
  left: 100px;
  color: var(--color-primary-light);
  z-index: 10;
}

.slider-arrow-left {
  transform: rotate(180deg);
}

/* Carousel settings*/

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: .2s ease;
}

.carousel-button:hover {
  border: 1px solid var(--color-primary-light);
  background-color: var(--color-primary-brands);
  fill: var(--color-primary-light);
}

/* Find Us section */
.find-us {
  padding-bottom: 96px;
}

.find-us-title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
}

.find-us-container {
  display: flex;
  gap: 32px;
}

.find-us-map {
  flex-basis: 60%;
}

.find-us-map iframe {
  height: 100%;
}

.find-us-forms {
  max-width: 423px;
  max-height: 500px;
  flex-basis: 40%;
  border: none;
  border-radius: 32px;
  padding: 48px 56px;
  background-color: var(--color-primary-dark);
}

.find-us-forms-title {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-primary-light);
  text-align: center;
}

.appointment-form {
  padding: 32px 0;
}

.appointment-input {
  width: 100%;
  padding: 18px 32px;
  margin-bottom: 16px;
  border: 2px solid var(--color-secondary-subtext);
  border-radius: 32px;
  background-color: transparent;
  transition: border-color .2s ease;
}

.appointment-input:focus {
  border-color: var(--color-primary-light);
  outline: none;
}

.appointment-input::placeholder {
  color: var(--color-primary-light);
}

.appointment-form-privacy {
  max-width: 230px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-secondary-subtext);
  text-align: center;
}

.appointment-form-privacy-link {
  color: var(--color-secondary-subtext);
  font-weight: 400;
  text-decoration-line: underline;
}

/* Footer */
.footer {
  background-color: var(--color-primary-dark);
  padding: 56px 0;
}

.footer-container {
  display: flex;
}

.footer-nav,
.footer-addresses {
  display: flex;
  flex-basis: 50%;
}

.footer-nav,
.footer-logo,
.footer-links,
.footer-addresses-group,
.address-info {
  flex-grow: 1;
}

.footer-link {
  color: var(--color-primary-light);
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-address-nav li {
  margin-bottom: 16px;
}

.footer-social-links.footer-social-link-item {
  margin-bottom: 16px;
}

.footer-address-link {
  font-size: 16px;
  font-style: normal;
  color: var(--color-primary-light);
}

.footer-address-policy-title {
  margin-bottom: 16px;
}

.footer-social-link-item {
  margin-right: 24px;
}

.footer-address-copyright {
  font-size: 13px;
  font-style: normal;
  color: var(--color-secondary-subtext);
}

.footer-social-icon {
  fill: var(--color-primary-light);
  transition: .2s ease;
}

.footer-social-icon:hover {
  fill: var(--color-primary-brands);
}

.footer-decorate-container {
  position: relative;
}

.footer-decorate-img {
  position: absolute;
  bottom: -56px;
  right: 0;
  z-index: 10;
}

/* Modal window */
.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 31, 74, 0.40);
  padding: 20px;
  transition: opacity .3s, visibility .3s;
  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 723px;
  width: 100%;
  padding: 42px 144px;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  border-radius: 32px;
  overflow: auto;
}

.modal-btn-close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 40px;
  top: 40px;
  border: none;
  background-color: transparent;
}

.modal-btn-close-icon {
  fill: var(--color-primary-light);
}

/* Form */

.modal-title {
  font-size: 64px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}

.modal-text {
  max-width: 274px;
  font-size: 22px;
  text-align: center;
  margin: 0 auto 32px;
}

.modal-form {
  max-width: 310px;
  margin: 0 auto;
}

.modal-form-input {
  max-width: 310px;
  width: 100%;
  padding: 18px 32px;
  background-color: transparent;
  border-radius: 32px;
  border: 1px solid var(--color-secondary-subtext);
  margin-bottom: 24px;
  color: var(--color-primary-light);
  transition: border-color .2s ease;
}

.modal-form-input:focus {
  border-color: var(--color-primary-light);
  outline: none;
}

.modal-form-input::placeholder {
  color: var(--color-primary-light);
}

.modal-form-btn {
  margin-bottom: 8px;
  transition: .2s ease;
}

.modal-form-privacy {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--color-secondary-subtext);
}

.modal-form-privacy-link {
  color: var(--color-secondary-subtext);
  font-weight: 400;
  text-decoration: underline;
}

.modal-form-privacy-link:visited {
  color: var(--color-secondary-subtext);
}

