.input {
    &__control {
        max-width: 310px;
        width: 100%;
        padding: 18px 32px;
        background-color: transparent;
        border-radius: 32px;
        border: 1px solid var(--color-secondary-subtext);
        color: var(--color-primary-light);
        transition: border-color .2s ease;
    }

    &__control:focus {
        border-color: var(--color-primary-light);
        outline: none;
    }

    &__control::placeholder {
        color: var(--color-primary-light);
    }
}