.card {
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item-content {
        max-width: 344px;
        height: 456px;
        border-radius: 0 120px 0 120px;
        transition: transform .2s ease;
        overflow: hidden;
    }

    &__item-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__item-description {
        position: absolute;
        max-width: 152px;
        font-size: 22px;
        line-height: 1.1;
        text-align: center;
        bottom: 32px;
        left: 30%;
        color: var(--color-primary-light);
        z-index: 10;
    }
}

